html, body, .main {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 150vh;
    margin: 0 auto;
}

#range {
}

.wrapper {
    height: calc(100vh - 75px);
}

#chartContainer {
    height: 100%;
}


ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}
li {
  display: inline-block; /*один из способов разместить элементы в строку*/
}

p {
  font: 120% verdana; 
}
#headerLi {
  margin-left: 60px;
  vertical-align: top;
}
#inputNumber {
  font: 90% verdana; 
  
}
#inputNumberLi {
  margin-bottom: 5px;
  margin-left: 100px;
  vertical-align: bottom;
}
#inputRangeLi {
 vertical-align: bottom;
}