body {
  margin: 0;
}
.main {
  height: 100%;
}   
.container {
  width: 100%;
  height: 100%;
  max-width: 1024px; 
  padding: 15 px;
  margin: 0 auto;
}
.canvas_col {
  width: 100%
}

#chartContainer {
    width: 100%;
    height: 580px;
}

ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}
li {
  display: inline-block; /*один из способов разместить элементы в строку*/
}

.range {
  width: 100%;
}
p {
  font: 120% verdana; 
}
#headerLi {
  margin-left: 60px;
  vertical-align: top;
}
#inputNumber {
  font: 90% verdana; 
  
}
#inputNumberLi {
  margin-bottom: 5px;
  margin-left: 100px;
  vertical-align: bottom;
}
#inputRangeLi {
 vertical-align: bottom;
}